# {{ ansible_managed }}
{% for item in hashi_consul_general %}
{{ item }} = {{ hashi_consul_general[item]|to_hcl(indent_level=0) }}
{% endfor %}

dns_config = {{ hashi_consul_dns|to_hcl(indent_level=0) }}

ports {
{% for item in hashi_consul_ports %}
  {{ item }} = {{ hashi_consul_ports[item]|to_hcl(indent_level=1) }}
{% endfor %}
}

{% if hashi_consul_tls_enable %}
tls {
{% for item in hashi_consul_tls %}
  {{ item }} = {{ hashi_consul_tls[item]|to_hcl(indent_level=1) }}
{% endfor %}
}

{% endif %}
acl = {{ hashi_consul_acl|to_hcl(indent_level=0) }}
