[Unit]
Description=Consul
Documentation=https://developer.hashicorp.com/consul/docs
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ hashicorp_consul_config_dir }}/consul.json

[Service]
EnvironmentFile=-{{ hashicorp_consul_config_dir }}/consul.env
User={{ hashicorp_consul_user }}
Group={{ hashicorp_consul_group }}
ExecStart={{ hashicorp_consul_binary_path }} agent -config-dir={{ hashicorp_consul_config_dir }}
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
